<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.base.dao.BaseDao">
    <!-- 栏目 -->
    <resultMap type="com.zzw.base.entity.Category" id="categoryMapper">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="category_name" property="categoryName"/>
        <result column="category_url" property="categoryUrl"/>
        <result column="category_img" property="categoryImg"/>
        <result column="permission_code" property="permissionCode"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="classify_id" property="classifyId"/>
        <result column="category_desc" property="categoryDesc"/>
        <association property="createUser" column="create_user"
                     javaType="com.zzw.base.entity.UserEntity">
            <result column="id" property="id"/>
            <result column="user_name" property="userName"/>
            <result column="failure_count" property="failureCount"/>
        </association>
        <association property="updateUser" column="modify_user"
                     javaType="com.zzw.base.entity.UserEntity">
            <result column="id" property="id"/>
            <result column="user_name" property="userName"/>
            <result column="failure_count" property="failureCount"/>
        </association>
    </resultMap>

    <select id="cat_selectCategorys" parameterType="com.zzw.base.entity.CategoryClassify" resultType="com.zzw.base.entity.Category"
            resultMap="categoryMapper">
        SELECT * FROM  t_category WHERE classify_id=#{classifyId} order by id ASC
    </select>

    <select id="cat_selectObjById" parameterType="com.zzw.base.entity.Category" resultType="com.zzw.base.entity.Category"
            resultMap="categoryMapper">
        SELECT * FROM  t_category WHERE id=#{id}
    </select>

    <insert id="cat_saveObj" parameterType="com.zzw.base.entity.Category"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_category(category_name,category_url,create_date,create_user,category_img,permission_code,category_desc,pid,classify_id)
        values(#{categoryName}, #{categoryUrl},SYSDATE(),#{createUser.id},#{categoryImg},#{permissionCode},#{categoryDesc},#{pid},#{classifyId})
    </insert>

    <delete id="cat_deleteCategorysByIds" parameterType="com.zzw.base.entity.Category" >
        delete from t_category WHERE id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <select id="cat_selectObjByPermissionCodeAndClassifyId" parameterType="com.zzw.base.entity.Category"
            resultType="com.zzw.base.entity.Category"
            resultMap="categoryMapper">
        SELECT * FROM  t_category WHERE permission_code=#{permissionCode} and classify_id = #{classifyId}
    </select>

    <update id="cat_updateCategory" parameterType="com.zzw.base.entity.Category">
        update t_category set
        category_name=#{categoryName},
        category_url=#{categoryUrl},
        category_img=#{categoryImg},
        permission_code=#{permissionCode},
        category_desc=#{categoryDesc},
        modify_user=#{updateUser.id},
        modify_date=SYSDATE()
        where id = #{id};
    </update>
    
   	<select id="category_selectCategoryByPid" parameterType="com.zzw.base.entity.Category" resultType="com.zzw.base.entity.Category"
            resultMap="categoryMapper">
        SELECT * FROM  t_category WHERE pid=#{pid} and classify_id = #{classifyId}
    </select>
    
</mapper>