<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.base.dao.BaseDao">
    <resultMap id="userRoleMapper" type="com.zzw.base.entity.UserRoleEntity">
        <id property="id" column="id"></id>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>

    <!--新增用户角色关系-->
    <insert id="addUserRole" parameterType="com.zzw.base.entity.UserRoleEntity" useGeneratedKeys="true"
    keyProperty="id">
        insert into t_user_role(user_id,role_id)
		values(#{userId}, #{roleId});
    </insert>

    <insert id="userRole_saveAll" parameterType="com.zzw.base.entity.UserRoleEntity" useGeneratedKeys="true"
            keyProperty="id">
           insert into t_user_role(user_id,role_id)
		    values
		    <foreach collection="list" index="index" item="item" separator=",">
                (#{item.userId}, #{item.roleId})
            </foreach>
    </insert>

    <!-- 修改用户角色关系 -->
    <update id="updateUserRole" parameterType="com.zzw.base.entity.UserRoleEntity" useGeneratedKeys="true"
            keyProperty="userId">
        update t_user_role set
		role_id = #{roleId}
		where user_id = #{userId};
    </update>

    <!--删除一个用户角色关系-->
    <delete id="deleteUserRole" parameterType="java.lang.Long">
       delete from t_user_role where id=#{id};
    </delete>

</mapper>